*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


/* banner area css start */

.banner{
    background-color: #fff;
    width: 700px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}

.banner .hireBtn{
    width: 100%;
    padding: 10px 0;
}

.banner .hireBtn button{
    padding: 5px 10px;
    background-color: lightcoral;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.banner .coverPhoto{
    width: 100%;
    height: 180px;
}

.banner .coverPhoto img{
    width: 100%;
    height: 100%;
}

.banner .singlePhoto{
    border: 2px solid lightgreen;
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin: -50px auto 0 auto;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 5px;
    z-index: 999;
}

.banner .singlePhoto .box1{
    border: 2px solid lightgray;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    overflow: hidden;
}

.banner .singlePhoto img{
    height: 100%;
    width: 100%;
}

.tagHeader{
    width: 100%;
    text-align: center;
    padding: 8px 0;
}

.bigTyper{
    text-align: center;
    padding-left: 30%;
}

.bigTyper h5{
    padding: 8px 0;
    text-align: center;
    display: flex;
    gap: 5px;
    font-size: 25px;
    font-weight: 200;
}

.banner .singleBio{
    width: 80%;
    margin: 17px auto;
}

.banner .singleBio p{
    text-align: justify;
    line-height: 30px;
    letter-spacing: 1px;
}

/* banner area css end */

/* counter area css start */

.counter{
    background-color: #fff;
    width: 90%;
    margin: 30px auto;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.counter .singleCounter{
    text-align: center;
    position: relative;
    padding: 10px;
    border: 1px solid lightcoral;
    border-top-right-radius: 15px;
    width: 25%;
    height: auto;
}

.singleCounter:hover{
    background-color: lightcoral;
    color: #fff;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    box-shadow: 2px 1px 8px 3px lightgray;
}

.singleCounter .icon{
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: lightcoral;
    font-size: 30px;
    position: absolute;
    top: -19px;
    color: lightgreen;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.singleCounter .counterNumber{
    margin-top: 30px;
}

.singleCounter .counterNumber h4{
    font-size: 50px;
}

.singleCounter .counterName{
    margin-top: 30px;
    margin-bottom: 40px;
}

.singleCounter .counterName p{
    font-size: 25px;
}

/* counter area css end */

/* featurePort area css start */

.featurePort{
    background-color: #fff;
    width: 90%;
    padding: 30px 20px;
    margin: 0 auto;
}

.featurePort .portBtn{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

.featurePort .portBtn button{
    padding: 4px 15px;
    background-color: lightgreen;
    font-weight: bold;
    border: 1px solid lightgreen;
    outline: none;
    font-size: 18px;
}

.featurePort .heading{
    text-align: center;
    margin: 40px 0;
}

.featurePort .heading h2{
    font-size: 30px;
}

.featurePort .heading h2::after{
    content: '';
    height: 2px;
    width: 200px;
    margin: 20px auto;
    display: block;
    background-color: orange;
}

.portfolioList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.featurePort .singleFeaturePort{
    width: 30%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.singleFeaturePort .image{
    height: 400px;
    width: 100%;
}

.singleFeaturePort .image img{
    height: 100%;
    width: 100%;
    border: 2px solid lightcoral;
}

.overlayCard{
    background-color: lightcoral;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    padding: 20px;
}

.singleFeaturePort:hover{
    box-shadow: 2px 3px 6px 2px lightgray;
}

.singleFeaturePort:hover .overlayCard{
    left: 0%;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    opacity: 0.98;
    
}

.overlayCard .name{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

.overlayCard .name h3{
    font-size: 24px;
}

.overlayCard .name h3::after{
    content: '';
    background-color: orange;
    height: 2px;
    width: 100%;
    display: block;
}

.overlayCard .postDetails{
    margin: 30px auto 0 auto;
    border: 1px solid lightgray;
    padding: 3px 8px;
    width: 40%;
    text-align: center;
}

.overlayCard .postDetails a{
    font-size: 20px;
    color: teal;
}

.overlayCard .link{
    margin: 30px auto 0 auto;
    border: 1px solid lightgray;
    padding: 3px 8px;
    width: 60%;
    text-align: center;
}

.overlayCard .link a{
    font-size: 20px;
    color: teal;
}

/* featurePort area css end */


/* portfolio pages area css start */

.portDiv{
    width: 90%;
    height: auto;
    margin: 40px auto;
    background-color: #fff;
    padding: 10px;
}

.portHeader{
    margin: 30px 0;
    padding-left: 40px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 0.8px solid lightgray;
}

.portHeader h2{
    font-size: 30px;
}

.portCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
    
}

.portfolioCard{
    width: 31%;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 1px 1px 12px 3px lightgray;
    position: relative;
}

.portfolioCard a{
    display: block;
    width: 100%;
}

.portfolioCard:hover{
    box-shadow: 1px 1px 3px 3px lightgray;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    cursor: pointer;
}

.portfolioCard .portfolioImage{
    width: 100%;
    height: 300px;
}

.portfolioCard .portfolioImage img{
    width: 100%;
    height: 100%;
}

.portfolioCard .portfilioTitle{
    padding: 10px 15px;
}

.portfolioCard .portfilioTitle h5{
    font-size: 20px;
}

.portfolioCard .portfilioTitle h5 span{
    font-size: 15px;
    font-weight: normal; 
}

.tagMark{
    position: absolute;
    top: 30px;
    right: 0;
    background-color: lightgreen;
    width: fit-content;
    font-size: 18px;
    padding: 8px 15px;
    font-weight: 400;
    border-top-left-radius: 10px;
}

.skill{
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    background-color: #fff;
}

.skill .skillHeader{
    border-bottom: 0.8px solid lightgray;
}

.skill .skillHeader h2{
    padding-bottom: 8px;
    font-size: 30px;
    padding-left: 20px;
}

.allSkills{
    width: 100%;
    margin: 25px 0;
}

.allTech{
    margin: 30px auto;
    width: fit-content;
    background-color: lightgreen;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.allTechBox{
    background-color: #000;
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
}

.allTechBox .img{
    font-size: 40px;
    color: lightgreen;
    display: flex;
    align-items: center;
}

.allTechBox .name {
    display: flex;
    align-items: center;
}

.allTechBox .name p{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding-left: 8px;
}



.allSkills h3{
    text-align: center;
}

.technologyDiv{
    width: 100%;
    padding-left: 40px;
    margin-top: 40px;
}

.technologyDiv .techHead h5{
    font-size: 20px;
}


/* portfolio pages area css end */

/* social area css start */

.social{
    width: 90%;
    margin: 30px auto;
    background-color: #fff;
    padding: 10px;
}

.social h2{
    font-size: 30px;
    border-bottom: 0.8px solid lightgray;
    padding-bottom: 10px;
    padding-left: 20px;
}

.allSocials{
    margin: 30px auto;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
}

.allSocials .socialBox:nth-child(1){
    background-color: #3b5998;
}

.allSocials .socialBox:nth-child(2){
    background-color: #171515;
}

.allSocials .socialBox:nth-child(3){
    background-color: #00acee;
}

.allSocials .socialBox:nth-child(4){
    background-color: #BB001B;
}


.allSocials .socialBox a{
    display: flex;
    padding: 10px;
    font-size: 40px;
}

.allSocials .socialBox .socialIcon{
    color: #fff;
    margin-right: 10px;
}

.allSocials .socialBox .socialName{
    color: #fff;
}

/* social area css end */

/* contact page css start */

.messageOption{
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
}

.messageOption h3{
    text-align: center;
    padding: 25px 0;
    font-size: 30px;
}

.messageOption .messageField{
    padding: 30px 0;
    width: 50%;
    margin: 30px auto;
}

.messageField input{
    margin-bottom: 20px;
}

.messageField input, .messageField textarea{
    width: 100%;
    padding: 8px 6px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 0.5px solid lightgray;
}

.messageField textarea{
    resize: none;
}

.messageField form button{
    background-color: lightblue;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0;
    padding: 8px 15px;
    width: 100%;
    font-weight: bold;
}

/* contact page css end */


 /* ===================  =================== > */

/* responsive part start */

/* banner responsive start*/

@media only screen and (max-width: 768px){
    .counter .singleCounter{
        width: 40%;
    }

    .counter .singleCounter:last-child{
        margin-top: 40px;
    }

    .featurePort .singleFeaturePort{
        width: 45%;
    }

    .featurePort .singleFeaturePort:last-child{
        margin-top: 30px;
    }

    .portfolioCard{
        width: 48%;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 700px){
    .banner{
        width: 100%;
    }

    .banner .coverPhoto{
        height: 160px;
    }
}

@media only screen and (max-width: 480px){
    .banner .coverPhoto{
        height: 130px;
    }

    .counter .singleCounter{
        width: 95%;
    }

    .counter .singleCounter{
        margin-top: 40px;
    }

    .featurePort .singleFeaturePort{
        width: 98%;
        margin-top: 30px;
    }

    .bigTyper{
        padding-left: 10%;
    }

    .portfolioCard{
        width: 98%;
    }

    .portfolioCard:first-child{
        margin-top: 10px;
    }

    .portHeader{
        margin-bottom: 0px;
    }

    .portHeader h2 {
        font-size: 24px;
    }

    .tagMark {
        font-size: 15px;
    }

    .messageOption .messageField{
        width: 100%;
        padding: 10px;
    }

    .social h2{
        font-size: 26px;
    }

    .allSocials .socialBox a{
        font-size: 30px;
    }

    .messageOption{
        width: 90%;
    }

    .messageOption h3{
        font-size: 26px;
    }
}

@media only screen and (max-width: 320px){
    .banner .coverPhoto{
        height: 100px;
    }

    .bigTyper{
        padding-left: 5%;
    }

    .bigTyper h5{
        font-size: 20px;
    }
}

@media only screen and (max-width: 300px){
    .bigTyper{
        padding-left: 3%;
    }

    .bigTyper h5{
        font-size: 18px;
    }
}

/* banner responsive end */



/* responsive part end */
